* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main-header {
  background-color: #1f2937;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  color: #e5e7eb;
  list-style: none;
  gap: 20px;
}
.nav-item {
  text-decoration: none;
  color: #e5e7eb;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 0;
  align-items: center;
}

.hero-content {
  text-align: start;
  max-width: 350px;
}

.hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 16px;
  color: #e5e7eb;
  margin-bottom: 20px;
}

.hero .cta-button {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  :hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
}

.info-section {
  padding: 20px 0;
  text-align: center;
}

.info-title {
  font-weight: bolder;
  font-size: 36px;
  color: #1f2937;
}

.info-item {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: black;
}

.info-img {
  border: solid 1px #000;
  width: 100px;
  height: 100px;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 60px 0;
  text-align: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  max-width: 800px;
  margin: 0 auto 20px;
}

.quote-author {
  font-weight: bold;
  font-size: 24px;
  color: #1f2937;
}

.main-footer {
  background-color: #3882f6;
  color: #fff;
  padding: 60px 0;
  margin: 60px 0;
  border-radius: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-second-text {
  font-size: 18px;
}

.main-footer .cta-button {
  border: 2px solid #fff;
}
